<div class="flex px-5 py-3 shadow-2 justify-content-between align-items-center">
    <div class="logo xl:pl-8 md: ">
      <a href="">
        <span class="logo_purple">Ad</span>
        <span class="logo_black">board+</span>
      </a>
    </div>
    <ng-container *ngIf="!_authService.isAuthenticated(); else authorized">
      <div class="flex mr-8">
        <p-button styleClass="p-button-outlined" label="Вход" сlass="mr-3 px-1" (click)="showSignIn()"></p-button>
        <p-button label="Регистрация" class="ml-1" (click)="showSignUp()"></p-button>
      </div>
    </ng-container>
  </div>


<ng-template #authorized>
  <div class="flex align-items-center xl:pr-8 md:">
        
    <p-menu #menu [popup]="true" [model]="items" class="menu"></p-menu>
    <button pButton (click)="menu.toggle($event)" class="p-button-text user-button mr-2" style="color:#000">
        <i class="pi pi-user mr-2"></i>
        <span>
            {{currentUserName}}
            <i class="pi pi-chevron-down "></i>
        </span>
    </button>
    <button [routerLink]="['/adverts/create']" pButton class="px-3 py-2">
        <span>Новое объявление</span>
        <i class="pi pi-plus ml-2"></i>
    </button>
  </div>
</ng-template>
