.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 100px;

    &__categories::ng-deep{
        .p-button-label{
            font-weight: 500;
            white-space: nowrap;
        }

        .p-button{
            padding: 8px 12px;
            margin-right: 12px;
        }
    }

}


.search{
    width: 100%;

    &__button::ng-deep{
        .p-button-label{
            font-weight: 500;
        }
        
        .p-button{
            padding: 8px 12px;
            border-radius: 5px;
            border-width: 2px;
        }
    }

    &__input{
        border: none;
        border-bottom: 2px solid #7254f3;
        transition: .5s linear opacity;
        opacity: .5;

        &:focus{
            opacity: .8;
        }
    }
}
