.form{
    width: 50%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    div{
        width: 320px;
    }

    small {
        font-size: 12px;
        color: red;
        font-weight: 500;
        margin-top: 5px;
      } 
}

p-autoComplete::ng-deep{
    span{
        width: 100%;

        input{
            width: 100%;
        }
    }
}