<div class="container flex justify-content-center align-items-center flex-column pt-8">
    <h1 class="mb-2 text-xl">Изменить настройки</h1>
    
    <form [formGroup]="userUpdateForm" (ngSubmit)="onSubmit()" class="form form__info">
        <div class="flex flex-column align-items-center">
            <div class="flex flex-column mb-2">
                <label class="mb-1 font-medium" for="">Имя</label>
                <input pInputText type="text" pInputText formControlName="name">
                <!-- <small *ngIf="infoUpdateForm.controls['login'].touched && infoUpdateForm.controls['login'].invalid">
                    Введите новый логин (не менее 8 символов)
                </small> -->
            </div>
            <div class="flex flex-column mb-2">
                <label class="mb-1 font-medium" for="">Логин</label>
                <input type="tel" pInputText formControlName="login">
                <!-- <small *ngIf="infoUpdateForm.controls['phone'].touched && infoUpdateForm.controls['phone'].invalid">
                    Введите номер телефона
                </small> -->
            </div>
            <div class="flex flex-column mb-2">
                <label class="mb-1 font-medium" for="">Пароль</label>
                <input type="password" pInputText formControlName="password">
                <!-- <small *ngIf="infoUpdateForm.controls['phone'].touched && infoUpdateForm.controls['phone'].invalid">
                    Введите номер телефона
                </small> -->
            </div>
        </div>
        <button class="mt-3" pButton type="submit">Сохранить</button>
    </form>
    <p-toast></p-toast>
</div>