.form{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 6rem;

  small {
    font-size: 14px;
    color: red;
    font-weight: 500;
    margin-top: 5px;
  } 
}


p-autoComplete::ng-deep{
    span{
        width: 33%;

        input{
            width: 100%;
        }
    }
}

.file-upload {
    position: relative;
    width: 150px;
    overflow: hidden;
  }
  
  .file-label {
    display: block;
    background-color: #7254F3;
    border-radius: 5px;
    color: #fff;
    padding: 10px;
    cursor: pointer;
  }
  
  .file-input {
    position: absolute;
    font-size: 100px;
    opacity: 0;
    top: 0;
    right: 0;
    cursor: pointer;
  }