<div class="container">
    <h1 class="my-3 text-xl">Новое объявление</h1>
    <form  class="container__form form">
        <div class="form__input flex flex-column mb-3">
            <label for="">Выберите категорию</label>
            <select pInputText class="w-4" pInputText formControlName="categoryId">
                <option [value]="">Нажмите, чтобы выбрать</option>
                <!-- <option [value]="category.id" *ngFor="let category of categories">{{category.name}}</option> -->
            </select>
            <!-- <small *ngIf="advertForm.controls['categoryId'].touched && (advertForm.controls['categoryId'].value == '')">
                Выберите категорию
            </small> -->
        </div>
        <div class="form__input flex flex-column mb-3">
            <label for="">Название объявления</label>
            <input class="w-4" formControlName="name" type="text" pInputText placeholder="Что хотите продать?">
            <!-- <small *ngIf="advertForm.controls['name'].touched && advertForm.controls['name'].invalid">
                Введите название
            </small> -->
        </div>
        <div class="form__input flex flex-column mb-3">
            <label for="">Описание</label>
            <textarea class="w-4" formControlName="description" pInputText placeholder="Расскажите подробнее.."></textarea>
            
        </div>
        <div class="form__input flex flex-column mb-3">
            <label for="">Адрес</label>
            <input class="w-4" formControlName="address" type="text" pInputText placeholder="Укажите адрес">
            <!-- <small *ngIf="advertForm.controls['address'].touched && advertForm.controls['address'].invalid">
                Укажите адрес
            </small> -->
        </div>
        <div class="form__input">
            <!-- <app-file-upload></app-file-upload> -->
        </div>
        <div class="form__input flex flex-column mb-3">
            <label for="">Цена</label>
            <p-inputNumber class="w-6" formControlName="price" placeholder="Укажите цену"></p-inputNumber>
        </div>
        <button pButton type="submit">Разместить объявление</button>
    </form>

    <div class="container__rules mt-2">
        Нажимая на кнопку "Разместить объявление" <br> Вы соглашаетесь с <a href="#" class="text-indigo-400">правилами площадки</a> 
    </div>
</div>
